@import '../Game/Game.module.scss';
@import '../../css/index.scss';

.form-for-button {
  @extend .div-class;

  margin-bottom: 10vh;
  text-align: center;
}

.back-to-menu-button {
  @extend .button;

  margin-bottom: 5px;
  background: radial-gradient(#fefefe, $light-pink);
  font-size: 30px;
  box-shadow: -1px -1px 3px 1px rgba(0, 0, 0, 0.5), inset 0px 0px 30px 3px $dark-pink;

  &:active {
    background: linear-gradient($dark-pink, #fefefe);
  }

  @media screen and (max-width: $width) {
    font-size: 25px;
  }
}

.form-for-reset-button {
  @extend .form-for-button;

  margin: 10px 0 -10px;

  @media screen and (max-width: $width) {
    margin-bottom: 0;
  }

  .back-to-menu-button {
    font-size: 20px;
  } 
}

.buttton-for-game {
  margin: 0;
}

.buttton-for-multiple-game {
  flex-basis: 100%;
  margin-bottom: 2vh;
  z-index: 10;
}