@import '../../css/index.scss';

.button {
  @extend .div-class;

  outline: none;
  font-family: cursive;
  text-align: center;
  font-size: 18px;
  background-color: $light-pink;
  border-width: 2px 0;
  border-style: solid none;
  border-color: $light-pink #000000 $dark-pink;
  background: linear-gradient($light-pink, $dark-pink) $dark-pink;
  transition: 0.2s;

  &:not(.disabled):hover {
    cursor: pointer;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
  }

  &:active {
    background: linear-gradient($dark-pink, $light-pink) $dark-pink;
  }
}

.win {
  background: no-repeat center url("./img/win.gif");
  min-height: 100vh;
  display: flex;
  align-items: baseline;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: $width) {
    background-size: 300px;
  }

  .congratulation {
    @extend .div-class;

    width: 100%;
    max-width: 490px;
    font-size: 35px;
    margin-top: 5vh;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px 3px #e73e3e, inset 0px 0px 40px 5px $light-pink;
    background: radial-gradient(#fefefe, $light-pink);

    @media screen and (max-width: $width) {
      font-size: 25px;
      max-width: 290px;
      margin-top: 15vh;
    }
  }
}

.loose {
  @extend .win;

  background: no-repeat center url("./img/loose.gif");

  @media screen and (max-width: $width) {
    background-size: 300px;
  }
}

.button-wrapper {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 0;
}
